torch
numpy
pandas
matplotlib
seaborn
networkx
rich
pillow
psycopg
torchvision
lightning[extra]
timm
distinctipy
wandb
open3d-cpu
torch_geometric
wheel
torchsummary
torch-cluster --find-links https://data.pyg.org/whl/torch-2.5.0+cu124.html
torch-sparse --find-links https://data.pyg.org/whl/torch-2.5.0+cu124.html
torch-scatter --find-links https://data.pyg.org/whl/torch-2.5.0+cu124.html
